PORT=4000
DATABASE_URL=""
JWT_SECRET="32 long character"
CLOUDINARY_CLOUD_NAME=""
CLOUDINARY_API_KEY=""
CLOUDINARY_API_SECRET=""
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=""
SESSION_SECRET=
EMAIL_USER=""
EMAIL_PASS=""