@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');
#login_signUpForm {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
}
#login_signUpForm span{cursor: pointer;}

.tracker-box,.tracker-active{
    display: none;
    position: absolute;
    font-size: 0.7rem;
    letter-spacing: 0.09em;
    padding: 15px;
    border-radius: 5px;
    margin-top: 5px;
    left: -14rem;
    z-index: 3;
    background: white;
    bottom: -0%;
}.tracker-active::before{
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 30px solid white;
    z-index: -1;
    rotate: 90deg;
    top: 0.28rem;
    right: -2rem;
  }
  .tracker-active{display: block;}
  .tracker-box div,.tracker-active div{
    margin: 5px 0;
  }
  .list-icon{
    padding-right: 0.3rem;
  }
  
  .list-icon.green{
    color: #006400;
  }
.container{
  background: #ecf0f3;
    border-radius: 30px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    position: relative;
    overflow: hidden;
    width: 768px;
    max-width: 100%;
    min-height: 480px;
}
#Applogo{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: #333;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.35);
}
#Applogo img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}
.container p{
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.3px;
    margin: 20px 0;
}

.container span{
    cursor: pointer;
    font-size: 12px;
    text-decoration: underline;
    color: blue;
}

.container a{
    color: #333;
    font-size: 13px;
    text-decoration: none;
    margin: 15px 0 10px;
}

.container button{
    background-color: #2da0a8;
    color: #fff;
    font-family: "Signika Negative", sans-serif;
    font-size: 0.8rem;
    padding: 1rem 3.5rem;
    border: 1px solid transparent;
    border-radius: 8px;
    font-weight: 900;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
    margin: 0rem 0rem 0.5rem;
    cursor: pointer;
}
.container .butt{
    background-color: transparent;
    border: 0.1rem solid white;
}
.container h1{
    font-family: "Signika Negative", sans-serif;
}
.container p{
    font-family: "Roboto Slab", serif;
}
.toggle-panel h1{
    font-size: 1.5rem;
    letter-spacing: 0.2rem;
}
.container button.hidden{
    background-color: transparent;
    border-color: #fff;
}
.container #error{
    font-family: "Signika Negative", sans-serif;
    margin: 0px 0px 0.2rem;
    color: #ff0000ad;
    font-size: 0.8rem;
    font-weight: 700;
}
.container form{
    position: relative;
  background: #ecf0f3;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    height: 100%;
    z-index: 1;
}

form input {
  background: #ecf0f3;
  padding: 10px;
  padding-left: 20px;
  padding: 1.3rem;
  width: 100%;
  height: 30px;
  font-size: 14px;
  border-radius: 50px;
  box-shadow: inset 6px 6px 6px #cbced1, inset -6px -6px 6px white;
  border: none;
}
.sign-in form input{margin: 0.5rem;}
.sign-up form input{margin: 0.3rem;}
.form-container{
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.6s ease-in-out;
}

.sign-in{
    left: 0;
    width: 50%;
    z-index: 2;
}

.container.active .sign-in{
    transform: translateX(100%);
}

.sign-up{
    left: 0;
    width: 50%;
    opacity: 0;
    z-index: 1;
}

.container.active .sign-up{
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
    animation: move 0.6s;
}

@keyframes move{
    0%, 49.99%{
        opacity: 0;
        z-index: 1;
    }
    50%, 100%{
        opacity: 1;
        z-index: 5;
    }
}

.social-icons{
    margin: 20px 0;
}

.social-icons a{
    border: 1px solid #ccc;
    border-radius: 20%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 3px;
    width: 40px;
    height: 40px;
}

.toggle-container{
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: all 0.6s ease-in-out;
    border-radius: 150px 0 0 100px;
    z-index: 2;
}

.container.active .toggle-container{
    transform: translateX(-100%);
    border-radius: 0 150px 100px 0;
}
form h1{
    padding: 1rem;
    letter-spacing: 0.1rem;
    font-size: 1.3rem;
    font-weight: 700;
}
.toggle{
    background-color: #2da0a8;
    height: 100%;
    background: linear-gradient(to right, #5c6bc0, #2da0a8);
    color: #fff;
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
    transform: translateX(0);
    transition: all 0.6s ease-in-out;
}

.container.active .toggle{
    transform: translateX(50%);
}

.toggle-panel{
    position: absolute;
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 30px;
    text-align: center;
    top: 0;
    transform: translateX(0);
    transition: all 0.6s ease-in-out;
}

.toggle-left{
    transform: translateX(-200%);
}

.container.active .toggle-left{
    transform: translateX(0);
}

.toggle-right{
    right: 0;
    transform: translateX(0);
}

.container.active .toggle-right{
    transform: translateX(200%);
}
@media (max-width:900px){
    .container{
        width: 90%;
    }
}
@media (max-width:700px){
    .container{
         width: 320px;
        min-height: 450px;
        padding: 0.7rem;
    }
    .container .sign-up,.container.active .sign-in{
        transform: translateX(100%);
    }
    .container.active .sign-up,.container .sign-in{
        transform: translateX(0%);
    }
    .toggle-container{
        display: none;
    }
    .sign-up,.sign-in{
        width: 100%;
    }
}
@media (max-width:330px){
    .container{
        width: 90%;
    }
}